! special
*.foreground:   #c4c4c4
*.background:   #1b1918
*.cursorColor:  #a8a19f

! black
*.color0:       #000000
*.color8:       #585858

! red
*.color1:       #D75F5F
*.color9:       #FF5F00

! green
*.color2:       #87AF5F
*.color10:      #AFFF87

! yellow
*.color3:       #AF8700
*.color11:      #D7AF5F

! blue
*.color4:       #5F87AF
*.color12:      #5F87D7

! magenta
*.color5:       #C48EC9
*.color13:      #C8ACCA

! cyan
*.color6:       #5FAFAF
*.color14:      #AFD7D7

! white
*.color7:       #c4c4c4
*.color15:      #FFFFFF

Xft.dpi: 96
Xft.antialias: true
Xft.rgba: rgb
Xft.hinting: true
Xft.hintstyle: hintfull

urxvt*depth: 32
urxvt*background: rgba:0000/0000/0200/d800
urxvt.scrollBar: false

!urxvt.font: xft:Hack:size=9
urxvt.font: xft:Liberation Mono for Powerline:size=9
urxvt.letterSpace: -1

/* Styling for note scratchpad in xmonad */
note*depth: 32
note*background: rgba:0000/0000/0200/d800
note.scrollBar: false

!urxvt.font: xft:Hack:size=9
note.font: xft:Liberation Mono for Powerline:size=9
note.letterSpace: -1

/* Styling for scratchpad terminal in xmonad */
scratchpad*depth: 32
scratchpad*background: rgba:0000/0000/0200/d800
scratchpad.scrollBar: false

!urxvt.font: xft:Hack:size=9
scratchpad.font: xft:Liberation Mono for Powerline:size=9
scratchpad.letterSpace: -1
